<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.murphy.mapper.ExcelMapper">
    <select id="queryExcelInfo" resultType="com.murphy.vo.excel.ExcelRegisterVo">
        select * from SSM_Hosp.hosp_register re inner join SSM_Hosp.hosp_doctor d where re.d_id = d.d_id
    </select>

    <select id="queryBeHospInfo" resultType="com.murphy.vo.excel.ExcelBeHospVo">
        select * from SSM_Hosp.hosp_beHosp beH inner join SSM_Hosp.hosp_register re inner join SSM_Hosp.hosp_doctor d
        where beH.beH_id = re.re_id and beH.d_id = d.d_id
    </select>

    <select id="queryDoctorInfo" resultType="com.murphy.vo.excel.ExcelDoctorVo">
        select * from SSM_Hosp.hosp_doctor
    </select>

    <select id="queryDrugInfo" resultType="com.murphy.vo.excel.ExcelDrugVo">
        select * from SSM_Hosp.hosp_drug
    </select>

    <select id="queryChargeInfo" resultType="com.murphy.vo.excel.ExcelChargeProjVo">
        select beH.beH_id, re.re_name, charge.charP_name, charge.charP_money, price.checkTime
        from SSM_Hosp.hosp_beHosp beH
        inner join SSM_Hosp.hosp_register re on beH.beH_id = re.re_id
        inner join SSM_Hosp.hosp_pricePeople price on beH.beH_id = price.beH_id
        inner join SSM_Hosp.hosp_chargeProj charge on price.charP_id = charge.charP_id
        where beH.beH_id = #{beH_id} order by beH.beH_id
    </select>
</mapper>